.searchbar-container {
    display: flex;
}

.w-full {
    height: 400px;
}

.bg-cover {
    background-image:  linear-gradient( rgba(42, 42, 42, 0.5), rgba(42, 42, 42, 0.5) ), url(../images/park-street-KYUiTYOaE9M-unsplash.jpg);
    background-size: cover;
    background-position: 50%;
    padding-top: 30px;
    height: 570px;;

}


.searchbar-img {
    position: relative;
}

.container-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    height: 50px;
    width: 350px;
    border-radius: 5px;
    border: 0px solid white;
}

.btn-primary{
    height: 48px;
}

.btn {
    font-size: 20px;
    
}

.form {
    margin-right: 5px;
}

.form-searchbar {
    position: absolute;
    top: 75%;
    left: 20%;
}