.landing {
    position: relative;
    right: 0;
    width: 100%;
    min-height: 100vh;
    /* padding: 100px; */
    display: flex;
    flex-direction: column;
    object-fit: contain;
    box-shadow: inset 0 0 0 1000px rgba( 0, 0, 0, 0.5);;
    /* align-items: center;  */
    justify-content: space-between;
}


.landing video {
    height: 100%;
    width: 100%;
    position: fixed;
    object-fit: cover;
    z-index: -1;
}

.p-land {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 53%;
    left: 40%;
}