.container-login {
    display: flex;
    align-items:center;
    margin-right: 1.5rem;
 } 

.container-reviews {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
}

.container-topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem;
}

span {
    margin: 1.5rem;
}