.separator {
    background-color: black;
    padding: 100px;
    padding-left: 500px;
}

.div-delete {
    width: 750px;
    position: relative;
}

.delete-icon {
    position: absolute;
    left: 90%;
    top:80%;
    z-index: 5;
    font-size: 30px;
}